<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>This is home page</title>
</head>
<body>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" >

        <div class="my-card">
          <h1 class="text-center">Registration Here !!</h1>

          <form action="" th:action="@{/dp_register}" method="post">  </form>



        </div>
        <!--           name field start -->
        <div class="form-group">
          <label for="name_field">Your name</label>
          <input type="text"
                 class="form-control"
                 id="name_field"
                 aria-describedby="emailHelp"
                 placeholder="Enter Here"
                 required
          />
        </div>

        <!--           email field start ---->
        <div class="form-group">
          <label for="email_field">Your Email</label>
          <input type="text"
                 class="form-control"
                 id="email_field"
                 aria-describedby="emailHelp"
                 placeholder="Enter Here"
                 required
          />
        </div>

        <!--     password field start ---->
        <div class="form-group">
          <label for="password_field">Your Password</label>
          <input type="password"
                 class="form-control"
                 id="password_field"
                 aria-describedby="emailHelp"
                 placeholder="Enter Here"
                 required
          />
        </div>
<!--        user about -->
            <div class="form-group">

              <textarea placeholder="Enter Something yourself" rows="8"class="form-control"></textarea>

            </div>
        <div class="container text-center">
          <button type="submit" class="btn bg-primary text-white">
            Submit
          </button>
          <button type="reset" class="btn btn-warning">
            Reset
          </button>
        </div>


      </div>

    </div>

  </div>
</section>

</body>
</html>