<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>This is home page</title>
</head>
<body>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" >
        <div class="my-card mt-2">

          <div class="container" text-center>

            <img class="" style="width: 70px;" src=""th:src="@{/img/sign-up.png}" alt="">

          </div>

          <h1 class="text-center">Registration Here !!</h1>

          <form action="" th:action="@{/do_register}" method="post" th:object="${user}">


        <!--           name field start -->
        <div class="form-group">
          <label for="name_field">Your name</label>
          <input
                  name="name"

                  type="text"
                 class="form-control"
                 id="name_field"
                 aria-describedby="emailHelp"
                 placeholder="Enter Here"
                 required
                 th:value="${user.name}"

          />
        </div>

        <!--           email field start ---->
        <div class="form-group">
          <label for="email_field">Your Email</label>
          <input
                  name="email"
                  type="text"
                 class="form-control"
                 id="email_field"
                 aria-describedby="emailHelp"
                 placeholder="Enter Here"
                 required
                 th:value="${user.email}"
          />
        </div>

        <!--     password field start ---->
        <div class="form-group">
          <label for="password_field">Your Password</label>
          <input
                  name="password"
                  type="password"
                 class="form-control"
                 id="password_field"
                 aria-describedby="emailHelp"
                 placeholder="Enter Here"
                 required

          />
        </div>
<!--        user about -->
            <div class="form-group">

              <textarea name="about" th:value="${user.about}" placeholder="Enter Something yourself" rows="6"class="form-control"></textarea>

            </div>
        <div class="container text-center">

<!--          terns and condition agreement-->
          <div class="form-group form-check">
                <input type="Checkbox"
                name="agreement"
                       class="form-check-input"
                       id="agreement"

                />
            <label for="agreement">Accept tern and Condition</label>

          </div>

          <button type="submit" class="btn bg-primary text-white">
            Submit
          </button>
          <button type="reset" class="btn btn-warning">
            Reset
          </button>
        </div>
          </form>


      </div>

    </div>

  </div>
</section>

</body>
</html>